@media screen and (max-width: 1200px) {
    .about-section .about-content {
        padding-top: 10%;
    }
}

@media screen and (max-width: 900px) {
    .top-nav-section .nav-login {
        display: none;
    }

    .top-nav-section .nav-links ul {
        text-align: end;
    }
    .top-nav-section .nav-logo-area {
        width: 80%;
    }
    .about-section .about-content {
        width: 100%;
    }
    .about-section .about-image {
        width: 100%;
    }
    .myskills-section .skills-project {
        width: 100%;
    }
    .myskills-section .skills-progress {
        width: 100%;
    }
    .service-container .Service-item:nth-child(2) {
        width: 48%;
    }
    .service-container .Service-item:nth-child(3) {
        width: 48%;
    }

    .service-container .Service-item:nth-child(4) {
        width: 97%;
        margin-top: 0.625rem;
    }
    .partner-section .partner-image .image {
        width: 33%;
        margin-bottom: 0.625rem;
    }
    .contact-section .contact-area .contact-location {
        width: 100%;
    }
    .contact-section .contact-area .contact-form {
        width: 100%;
    }

    .top-nav-section .nav-links button {
        display: inline-block;
    }

    .top-nav-section .nav-links ul.navigation {
        position: absolute;
        background: #ddd;
        width: 100%;
        left: 0;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        height: 0;
        transition: 1s all ease;
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
        -o-transition: 1s all ease;
        overflow: hidden;
        padding: 0;
    }
    .btn-active {
        background: #72b22f;
        border: 1px solid #2626;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: #fff;
    }
    .menu-active {
        opacity: 1 !important;
        height: auto !important;
    }
    .top-nav-section .nav-links {
        text-align: end;
        width: 20% !important;
        float: left;
    }
}
@media screen and (max-width: 630px) {
    .top-nav-section .nav-links ul.navigation {
        flex-direction: column;
    }
    .top-nav-section .nav-login {
        display: none;
    }

    .top-nav-section .nav-logo-area {
        width: 80%;
    }
    .myskills-section .skills-project .project-item {
        width: 100%;
    }
    .service-container .Service-item:nth-child(2) {
        width: 97%;
    }
    .service-container .Service-item:nth-child(3) {
        width: 97%;
    }
    .partner-section .partner-image .image {
        width: 50%;
    }
    .copyright-wrapper .copyright-section .copyright-text {
        width: 100%;
    }
    .copyright-wrapper .copyright-section .copyright-logo {
        width: 100%;
    }
    .copyright-wrapper .copyright-section .copyright-text,
    .copyright-wrapper .copyright-section .copyright-logo {
        text-align: center;
    }
}
